$colorSelect: #00A7D2;
$colorHover: #00D3F0;
$backgroundSelect: #101425;



* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

a,
.button__news {
    cursor: url(./img/cursor_white.svg), pointer;
}

.hovers {
    padding-left: calc(50% - 1920px /2);
    padding-right: calc(50% - 1920px /2);
    height: 718px;
    background-image: url(./img/iPhone\ 14\ Pro.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.hovers__header {
    position: fixed;
    top: 0;
    left: calc(50% - 1920px / 2);
    right: calc(50% - 1920px / 2);
    padding-left: 256px;
    padding-right: 256px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    transition: background 0.3s ease;


}

.is_scrolled .hovers__header {
    background: rgba(16, 20, 37, 0.85);
    backdrop-filter: blur(17.5px);

}

@media screen and (max-width: 1920px) {
    .hovers__header {
        left: 0;
        right: 0;
        padding-left: calc(50% - 1396px / 2);
        padding-right: calc(50% - 1396px / 2);

    }
}


.header__empty {

    height: 82px;
}


.logo__image {
    height: 52px;
    width: 125px;
    vertical-align: middle;
}

.menu {
    list-style-type: none;
    display: flex;
    gap: 64px;
    align-items: center;

}

.menu__link {
    font-family: 'Poppins';
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu__link:hover {
    color: $colorSelect;
}

.menu__link_active {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.menu__link_en {
    text-decoration: underline;

}

.list {
    text-decoration: none;

}

.nav__lang {
    position: relative;
    display: flex;
    width: 82px;
    padding-left: 17px;
    background-image: url(./img/Icon1.svg);
    background-repeat: no-repeat;
    background-position: 75px 8px;
    cursor: url(./img/cursor_white.svg), pointer;
}

.lang {
    position: absolute;
    top: -10px;
    right: 0;
    align-items: flex-start;
    padding-left: 17px;
    width: 82px;
    flex-direction: column;
    height: 149px;
    background: #FFFFFF;
    justify-content: space-evenly;
    /* border-radius: 2px; */
    display: none;

}

.lang_show {
    display: flex;
    background-image: url(./img/Icon.svg);
    background-repeat: no-repeat;
    background-position: 75px 18px;
    cursor: url(./img/cursor_black.svg), pointer;

}

.lang__link {
    text-decoration: none;

}

.lang__link:hover {
    text-decoration: underline;
    cursor: url(./img/cursor_black.svg), pointer;
}

/* .lang__link_active {

} */

.lang__image {
    vertical-align: middle;
    padding-right: 8px;
    width: 20px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 47px;
}

.title {
    padding-left: calc(50% - 1396px / 2);
    max-width: 721px;
    margin-top: 120px;
}

.title__header {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.title__header_color {
    color: $colorSelect;
}

.text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.title__text {
    padding-top: 36px;
    padding-bottom: 100px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #817A92;
}

.started {
    display: flex;
    gap: 14px;
    max-width: 355px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.text__button {
    font-family: 'Source Sans Pro';
    text-decoration: none;
    padding: 13px 42px;
    display: block;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #FFFFFF;
    border-radius: 2px;
    background-color: $colorSelect;
}
.text__button:hover {
    background-color: $colorHover;
}

.play__link {
    font-family: 'Source Sans Pro';
    padding: 13px 23px 13px 56px;
    background-position: 23px;
    background-image: url(./img/play.svg);
    background-repeat: no-repeat;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: $colorSelect;
    text-decoration: none;
}

.play__link:hover {
    color: $colorHover;
    background-image: url(./img/play_light.svg);
}
.image-mouse {
    display: flex;
    flex-direction: column;
    width: 32px;
    gap: 10px;
    align-items: center;
    margin: auto;
    padding-bottom: 40px;
}

.button__mouse {
    width: 12px;
}

.button__sign {
    height: 16px;
}

.items {

    max-width: 1920px;
    margin: auto;
    background: $backgroundSelect;
}

.items__node {
    display: flex;
    height: 176px;
    padding-left: calc(50% - 1368px / 2);
    padding-right: calc(50% - 1396px / 2);
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

}

.items__box {
    text-align: center;


}

.items__text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.items__quantity {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
}

.container-grid {
    padding-left: calc(50% - 1400px / 2);
    padding-right: calc(50% - 1400px / 2);
    display: grid;
    grid-column-gap: 56px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
        "header header"
        "mobile mobile_jpg"
        "friendly_jpg friendly"
        "decentralized decentralized_jpg"
        "borderless_jpg borderless"
        "scalable scalable_jpg";

}

.container__header {
    grid-area: header;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    color: #282828;
    padding-top: 57px;
    padding-bottom: 60px;

}

.content__mobile {
    grid-area: mobile;
}

.content__friendly {
    grid-area: friendly;
}

.content__decentralized {
    grid-area: decentralized;
}

.content__borderless {
    grid-area: borderless;
}

.content__scalable {
    grid-area: scalable;
}

.box {
    max-width: 669px;
    height: 440px;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile {
    background-image: url(./img/mobile.jpg);
    grid-area: mobile_jpg;
}

.friendly {
    background-image: url(./img/friendly.jpg);
    grid-area: friendly_jpg;
}

.decentralized {
    background-image: url(./img/Decentralized.jpg);
    grid-area: decentralized_jpg;
}

.borderless {
    background-image: url(./img/Borderless.jpg);
    grid-area: borderless_jpg;
}

.scalable {
    background-image: url(./img/Scalable.jpg);
    grid-area: scalable_jpg;
}

.container {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
    color: #282828;
}

.item {
    padding-top: 70px;
    padding-bottom: 20px;
}

.text_black {
    max-width: 590px;
    color: #101425;
}

.text__color {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 173.02%;
    /* or 24px */
    color: $colorSelect;

}

.paragraph {
    margin-top: 24px;
}

.network {
    margin-top: 100px;
    max-width: 956px;
    height: 432px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(./img/Group4.svg);
    background-size: 357px 354px;
    background-repeat: no-repeat;
    padding-top: 10px;
    padding-left: 444px;


}

.wrapper {
    max-width: 800px;
    margin-top: 16px;
}

.line {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    margin-right: 10px;
    border-radius: 2px;
    border: 1px solid black;
}

.text_network {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 173.02%;
    color: #282828;
}

.network__button {
    margin-top: 70px;
}

.link__button {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    border-radius: 2px;
    padding: 13px 20px;
    text-decoration: none;
    background: $colorSelect;
    color: #FFFFFF;


}

.link__button:hover {
    background: $colorHover;

}

.news {
    max-width: 1920px;
    background-color: $backgroundSelect;
    margin: auto;
}

.box__news {
    display: flex;
    padding-left: calc(50% - 1400px / 2);
    padding-right: calc(50% - 1400px / 2);
    justify-content: space-between;
    height: 205px;
}

.logo__news {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 22px;
}

.image__news {
    width: 109px;

}

.title__news {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.01em;
    color: #FFFFFF;
}

.text__news {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    opacity: 0.8;
}

.com__news {
    display: flex;
    width: 300px;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
}

.mail__news {
    font-family: 'Poppins';
    outline: none;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.19);
    background-image: url(./img/IconMail.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 16px;
    border-radius: 2px;
    border-style: none;
    padding-left: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.6;
}

.button__news {
    font-family: 'Poppins';
    height: 44px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    background: $colorSelect;
    border-radius: 2px;
    color: #FFFFFF;
    border-style: none;

}

.button__news:hover {
    background: $colorHover;

}

.ecosystem-title {
    text-align: center;
    padding-top: 62px;
    padding-bottom: 62px;
}

.ecosystem {
    padding-left: calc(50% - 1400px / 2);
    padding-right: calc(50% - 1400px / 2);
    display: flex;
    gap: 101px;
    flex-wrap: wrap;
}

.ecosystem__box {
    max-width: 264px;
}

.ecosystem__heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #282828;
}

.ecosystem__text {
    padding-top: 12px;
    padding-bottom: 28px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #101425;
}

.frame {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.system__link {
    padding: 4px 14px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    text-transform: uppercase;
    background: rgba(0, 167, 210, 0.05);
    border-radius: 2px;
    color: $colorSelect;
    text-decoration: none;
}

.system__link:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    cursor: url(./img/cursor_black.svg), pointer;

}

.integrations-title {
    text-align: center;
    padding-top: 109px;
    padding-bottom: 95px;

}

.integrations {
    padding-left: calc(50% - 620px);
    padding-right: calc(50% - 620px);
    display: flex;
    justify-content: space-between;
    gap: 46px;


}

.integrations__box {
    padding-left: 40px;
    width: 330px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-shadow: 0px 15px 19px rgba(0, 0, 0, 0.03);
    border-radius: 2px;
    height: 425px;
}


.box-cex {
    background: url(./img/back_cex1.svg) bottom left no-repeat,
        url(./img/back_cex.svg) top right no-repeat;
}

.box-staking {
    background: url(./img/line.svg) center no-repeat;

}

.box-DeFi {
    background: url(./img/test.svg) center no-repeat;

}

.integration__heading {
    padding-top: 52px;
    padding-bottom: 98px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 114.5%;
    color: #101425;
}

.frame-group {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.group__link {
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
}

.group__link:hover {
    cursor: url(./img/cursor_black.svg), pointer;
    text-decoration: underline;
}

.group__img {
    width: 32px;
    vertical-align: middle;
    margin-right: 12px;
}

.trinity {
    padding-top: 48px;
    padding-bottom: 100px;
    display: flex;
    gap: 65px;
    padding-left: calc(50% - 1440px / 2);
    padding-right: calc(50% - 1440px / 2);
    margin-top: 39px;
}

.techPaper {
    width: 538px;
    height: 386px;
    background-image: url(./img/TechPaper.png);
    background-repeat: no-repeat;

}

.techPaper__button {
    background-image: url(./img/download.svg);
    background-repeat: no-repeat;
    margin-top: 317px;
    margin-left: 436px;
    margin-right: 42px;
    text-align: center;
    background-position: top;
    padding-top: 52px;
}

.techPaper__button:hover {
    background-image: url(./img/download1.svg);

}

.download__button {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    text-decoration-line: underline;
    color: $colorSelect;
    padding-top: 58px;
    cursor: url(./img/cursor_black.svg), pointer;


}

.download__button:hover {
   color: $colorHover;
}

.protocol {
    width: 650px;
    padding-top: 57px;
    background-image: url(./img/trinity-network.svg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 110px;
    
}

.protocol-title {
    max-width: 601px;
    margin-bottom: 42px;
}

.protocol-header_color {
    color: #EA0054;
}

.protocol__trinity {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
    align-items: center;

}

.trinity-textButton {
    border-radius: 2px;
    background-color: $colorSelect;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.41px;
    text-decoration: none;
    padding: 11px 20px;
    display: block;
    color: #FFFFFF;
    cursor: url(./img/cursor_black.svg), pointer;  
}
.trinity-textButton:hover {
    background-color: $colorHover;
}
.github__link {
    background-image: url(./img/github.svg);
    background-position: right;
    background-repeat: no-repeat;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color:  $colorSelect;
    padding: 8px 30px;
    text-decoration: none;
    cursor: url(./img/cursor_black.svg), pointer;
}
.github__link:hover {
    color:   $colorHover; 
    background-image: url(./img/github1.svg);   
}
.projects {
    padding-left: calc(50% - 1440px / 2);
    padding-right: calc(50% - 1440px / 2);
   
}
.projects-title {
    text-align: center;
    padding-top: 26px;
    padding-bottom: 58px;
}
.projects__items {
    height: 170px;
    display: grid;
    padding-left: calc(50% - 1200px / 2);
    padding-right: calc(50% - 1200px / 2);
    grid-column-gap: 48px;
    grid-row-gap: 38px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    // grid-template-areas:

}


.link__item { 
display: flex;
align-items: center;
justify-content: space-between;    
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #000000;
text-decoration: none;
background-repeat: no-repeat;
background-position: 28px;
padding-left: 88px;
padding-right: 28px;
width: 250px;
height: 66px;
border: 1px solid #EEEEEE;
border-radius: 2px;
cursor: url(./img/cursor_black.svg), pointer;
}
.link__item:hover {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.03);
}
.item__text {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #71B0C0;
    background: rgba(0, 167, 210, 0.08);
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}
.item1 {
    background-image: url(./img/space.png);
    
}
.item2 {
    background-image: url(./img/artrax.png);
}
.item3 {
    background-image: url(./img/buldog.png);
}
.item4 {
    background-image: url(./img/pug.png);
}
.item5 {
    background-image: url(./img/bgf.png);
}
.item6 {
    background-image: url(./img/bant.png);
}
.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: calc(50% - 950px / 2);
    padding-right: calc(50% - 1000px / 2);
    padding-top: 110px;

}
.service-title {
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 48px;
line-height: 133%;
text-align: center;
background: linear-gradient(90deg, #101425 0%, #00A7D2 100%), #FFFFFF;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
padding-bottom: 35px;

}
.service__button {
padding: 9px 20px;
background: $colorSelect;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 22px;
letter-spacing: -0.41px;
color: #FFFFFF;
border-radius: 2px;
border-style: none;
}
.service__button:hover {
    background: $colorHover; 
    cursor: url(./img/cursor_black.svg), pointer; 
}
.token {
    margin-top: 57px;
    padding-left: calc(50% - 1220px / 2);
    padding-right: calc(50% - 1220px / 2); 
    display: flex;
    gap: 68px;
}
.token__content {
    padding-top: 75px;
    width: 750px;
}

.token__text {
    padding-top: 34px;
    padding-bottom: 34px;
display: flex;
gap: 70px;
flex-wrap: wrap;
}

.text__little {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
color: #101425;
opacity: 0.64;
}
.text__bold {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #101425; 
}
.box__image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.community__network {
    padding-left: calc(50% - 920px / 2);
    padding-right: calc(50% - 920px / 2); 
    margin-bottom: 83px;
}
.community__network-title {
padding-top: 91px;
padding-bottom: 41px;  
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32px;
line-height: 133%;
text-align: center;
color: #101425;
}
.community__images {
    display: flex;
    justify-content: space-between; 
    

}
.community__image1 {
    width: 48px;
    height: 40px;
    background-image: url(./img/twitter_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   
    
    
}
.community__image1:hover {
    background-image: url(./img/twitter_blue.svg); 
    transition-duration: 0.2s;
}
.community__image2 {
    width: 46px;
    height: 46px;
    background-image: url(./img/telegramm_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   

}
.community__image2:hover {
    background-image: url(./img/telegramm_blue.svg); 
    transition-duration: 0.2s;
}
.community__image3 {
    width: 46px;
    height: 46px;
    background-image: url(./img/reddit_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
   

}
.community__image3:hover {
    background-image: url(./img/reddit_blue.svg); 
    transition-duration: 0.2s;
}
.community__image4 {
    width: 46px;
    height: 43px;
    background-image: url(./img/github_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    

}
.community__image4:hover {
    background-image: url(./img/github_blue.svg); 
    transition-duration: 0.2s;
}
.community__image5 {
    width: 44px;
    height: 44px;
    background-image: url(./img/linkedin_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    

}
.community__image5:hover {
    background-image: url(./img/linkedin_blue.svg); 
    transition-duration: 0.2s;
}
.community__image6 {
    width: 45px;
    height: 36px;
    background-image: url(./img/youtube_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    

}
.community__image6:hover {
    background-image: url(./img/youtube_blue.svg); 
    transition-duration: 0.2s;
}
.community__image7 {
    width: 48px;
    height: 42px;
    background-image: url(./img/weixin_black.svg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    

}
.community__image7:hover {
    background-image: url(./img/weixin_blue.svg); 
    transition-duration: 0.2s;
}

.community__link {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}
.footer {
    max-width: 1920px;
    background: #101425;
    margin: 0 auto;
    height: 468px;
    margin-bottom: 100px;
}
.footer__content {
    display: grid;
    justify-items:start;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "footer__box0 . footer__box1 footer__box2 footer__box3"
    "system__box system__box system__box . footer__box3";
    padding-top: 55px;
    padding-bottom: 20px;
    padding-left: calc(50% - 1440px / 2);
    padding-right: calc(50% - 1440px / 2);
   

}
.footer__image {
    grid-area: footer__box0;
}
.footer__box1 {
    grid-area: footer__box1;
}
.footer__box2 {
    grid-area: footer__box2;
}
.footer__box3 {
    grid-area: footer__box3;
}
.footer__text1,.footer__text2 {
    padding-left: 10px;   
}
.footer__text3 {
    padding-left: 30px;
}
.list__text {
    margin-bottom: 12px;
    list-style-type: none;
}
.link__list {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #FFFFFF;
}
.link__list:hover {
    color: $colorSelect; 
}
.header__box3 {
margin-bottom: 12px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;

}
.link__list1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #79839C;
    text-decoration: none;

}
.link__list1:hover {
    color: #ffffff; 
}
.list__text1 {
    margin-bottom: 9px;
   
}
.list__text1::marker {
    color: #79839C;
}
.list__text1:hover::marker {
    color: #ffffff;
}
.system_miner {
    grid-area: miner;
    
}
.system_web {
    grid-area: web;
   
}
.system_ios {
    grid-area: ios;
}
.system_wallet {
    grid-area: wallet;
}
.system_pwa {
    grid-area: pwa;
}
.system__link-footer {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 22px;
color: #FFFFFF;
text-decoration: none;
background-repeat: no-repeat;
border: 0.5px solid rgba(255, 255, 255, 0.49);
border-radius: 9px;

}
.link-miner {
padding: 12px 20px 12px 50px; 
background-image: url(./img/android.svg);
background-position: 24px center;
}
.system__box {
    grid-area: system__box;
    display: grid;
    grid-template-columns: 180px 180px 180px 220px;
    grid-template-rows: 48px 48px;
    gap: 20px;
    padding-top: 45px;
    align-items: center;
    grid-template-areas:
        "miner miner miner miner"
        "web ios wallet pwa";
    
  

}
.link-web {
    padding: 12px 29px 12px 60px; 
    background-image: url(./img/web.svg);
    background-position: 33px center;

}
.link-ios {
    padding: 12px 34px 12px 64px; 
    background-image: url(./img/ios.svg);
    background-position: 39px center;
}
.link-wallet {
    padding: 12px 17px 12px 47px; 
    background-image: url(./img/android.svg);
    background-position: 21px center;
}
.link-pwa {
    padding: 12px 18px 12px 48px; 
    background-image: url(./img/pwa.svg);
    background-position: 24px center;
}
.footer__line {
width: 1440px;
height: 1px;
background: rgba(255, 255, 255, 0.11);
margin: auto;
}
.footer__end {
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
color: #BDBDBD;
padding-top: 20px;
padding-left: calc(50% - 1440px / 2);
}