.ecosystem {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 102px;
    row-gap: 60px;
    grid-template-areas:
        "hd hd hd hd"
        "bx1 bx2 bx3 bx4";
    padding-top: 62px;   
    padding-bottom: 84px;

    @include mediaDesktop {
        column-gap: 48px;

    }

    @include mediaDesktopTab {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 130px;
        width: 864px;
        grid-template-areas:
            "hd hd"
            "bx1 bx2"
            "bx3 bx4";
        padding-top: 43px;
        padding-bottom: 72px;
    }

    @include mediaTablet {
        width: 744px;
        column-gap: 74px;
        row-gap: 33px;
        padding-top: 34px;
        padding-bottom: 60px;
    }

    @include mediaTabletMob {
        width: 576px;
        column-gap: 17px;
        row-gap: 45px;
        padding-top: 24px;
        padding-bottom: 40px;
    }

    @include mediaMobileMax {
        width: 464px;
    }

    @include mediaMobile {
        width: 320px;
        grid-template-columns: 1fr;
        grid-template-areas:"hd"
        "bx1" "bx2" "bx3" "bx4";
        row-gap: 30px;
        padding-bottom: 44px;
    }

    @include mediaMin {
        width: 299px;  
    }

    &__header {
        grid-area: hd;
       
        &_color {
            color: $blue;
        }

        @include mediaTablet {
            padding-top: 0px;
        }
    }

    &__box {
        max-width: 267px;
    }

    &__box1 {
        grid-area: bx1;

    }

    &__box2 {
        grid-area: bx2;
    }

    &__box3 {
        grid-area: bx3;

        @include mediaTablet {
            padding-top: 30px;
        }

        @include mediaTabletMob {
            padding-top: 0px;
        }
    }

    &__box4 {
        grid-area: bx4;

        @include mediaTablet {
            padding-top: 30px;
        }

        @include mediaTabletMob {
            padding-top: 0px;
        }
    }

    &__heading {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: normal;
        color: $header;
    }

    &__text {
        padding-top: 12px;
        padding-bottom: 24px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: normal;
        color: $dark;
    }

    &__frame {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
    }

    &__link {
        padding: 4px 14px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: normal;
        text-transform: uppercase;
        background: rgba(0, 167, 210, 0.05);
        border-radius: 2px;
        color: $blue;
        text-decoration: none;
        transition: box-shadow 0.2s ease;
    }

    &__link:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
        cursor: url(./../img/cursor_black.svg), pointer;

    }
}