//fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&ampdisplay=swap');

body {
    font-family: "Poppins", sans-serif;
}

.none {
    display: none !important;
}
    

a,
.button__news {
    cursor: url(./../img/cursor_white.svg), pointer;
}

.num-box {
    max-width: 1920px;
    margin: 0 auto;
    background: $dark; 

}

.container {
    width: 1440px;
    margin: 0 auto;
    padding-left: 22px;
    padding-right: 22px;
    
    @include mediaDesktop {
        width: 1248px;
    }

    @include mediaDesktopTab {
        width: 984px;
    }

    @include mediaTablet {
        width: 744px;
    }

    @include mediaTabletMob {
        width: 576px;
    }

    @include mediaMobileMax {
        width: 464px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @include mediaMobile {
        width:320px;
    }

    @include mediaMin {
        width: 299px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.header-all {
    grid-area: header;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: normal;
    text-align: center;
    color: $header;

    &_color {
        color: $blue;
    }

    @include mediaDesktopTab {
        font-size: 32px;
       
    }
    @include mediaTablet {
        padding-top: 36px;
    }

    @include mediaTabletMob {
        font-size: 24px;
        padding-top: 0px;
            
    }

    @include mediaMobile {
        font-size: 20px;
        
    }
}
